  services:
    postgres:
      image: postgres:16
      container_name: my-postgres
      environment:
        POSTGRES_DB: books
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
      ports:
        - "5431:5432"
      volumes:
        - pgdata:/var/lib/postgresql/data

  volumes:
    pgdata: