<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{${book == null ? '/books/add' : '/books/edit/' + book.id}}">

    <div class="form-group">
        <label for="name">Product name</label>
        <input type="text"
               class="form-control"
               id="name"
               name="title"
               th:value="${book != null ? book.getTitle() : ''}"
               required
               placeholder="Enter book Title">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text"
               class="form-control"
               id="price"
               name="genre"
               th:value="${book?.getGenre()}"
               placeholder="Enter book genre">
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number"
               class="form-control"
               id="quantity"
               name="averageRating"
               th:value="${book?.getAverageRating()}"
               placeholder="Enter average rating">
    </div>
    <div class="form-group">
        <label>Product Level</label>
        <select name="authorId" class="form-control">
            <option th:each="author : ${authors}"
                    th:text="${author}"
                    th:value="${author}"
                    th:selected="${author != null ? author?.getAgegroup() == author.getAgegroup() : false}"
            >
            </option>
        </select>
    </div>
    </div>
    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    <a type="button" class="btn btn-primary" href="/products">Back</a>
</form>

</body>
</html>